.container{
 
  height: 100vh;
  display: flex; 
  padding: 50px;

  flex-direction: column;
}

.search-category-container{
  display: flex;
  justify-content: space-between;
}

.table-header{
  display: flex;
 

}

.column-title{
  margin-right: 10px;
}
.column-id{
  width: 40px; 
  margin-right: 20px;
}
.image{
  height: 40px;
  width: 50px;
}

.column-title{ 
  width: 300px;
  

}
.column-sold{
  width: 50px;
  margin-right: 40px;
}
.column-category{
  width: 50px;
  margin-right: 40px;
}

.column-image{
  width: 50px;
}


.column-price{
  width: 50px;
  margin-right: 10px;
}
.column-des{
  width: 400px;
  margin-right: 10px;
}

.unordered-column{
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
}

.unorderedd-column{
  display: flex;
  flex-direction: column;
  border-bottom:  1px solid orange;
  border-left: 1px solid orange;
  border-right:1px solid orange;
}