.container{
 
  height: 100vh;
  display: flex;

  flex-direction: column;
}

.search-category-container{
  display: flex;
  justify-content: space-between;
}

.table-header{
  display: flex;
 

}

.column-id{
  width: 40px; 
  margin-right: 20px;
}
.image{
  height: 40px;
  width: 50px;
}

.column-title{ 
  width: 300px;
  margin-right: 10px;

}



.unordered-column{
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
}